# Environment and local settings
/.env
/.pytest_cache

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3
sessions/
logs/
